html, body {
    margin: 0;
    padding: 0;
}

nav {
    color: white;
    font-family: Montserrat;
    background-color: #0074de;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 21px 100px;
    border-radius: 0 0 30px 30px;
}

#nav-tabel {
    display: flex;
    column-gap: 37px;
    align-items: center;
}

nav h1 {
    margin: 0;
    font-size: 30px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 24px;
    margin-right: 20px;
}

nav a:hover {
    text-decoration: underline;
}

button:hover {
    cursor: pointer;
}

nav input {
    border: none;
    outline: none;
    padding: 15px 10px;
    border-radius: 30px;
    height: 35px;
    width: 250px;
    font-size: 24px;
    position: relative;
}

section {
    margin: 64px 100px 0 100px;
}

#landing {
    align-items: center;
    justify-content: center;
}

#landing p {
    font-family: Montserrat;
    font-weight: 500;
    text-align: center;
    font-size: 26px;
    margin-top: 0;
    margin-bottom: 20px;
}

#landing-button {
    display: flex;
    justify-content: center;
}

.btn {
    border: none;
    background-color: #0074de;
    color: white;
    font-family: Montserrat;
    font-weight: 700;
}

#landing-button button {
    padding: 13px 46px;
    font-size: 30px;
    border-radius: 20px;
    margin-top: 0;
}

#team h1 {
    display: flex;
    justify-content: center;
    font-family: Montserrat;
    font-size: 35px;
}

#member {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    column-gap: 100px;
    row-gap: 75px;
}

.member-info {
    font-family: Montserrat;
}

.member-info h3 {
    display: flex;
    justify-content: center;
    width: 90%;
    margin-top: 0;
    font-size: 30px;
    margin-bottom: 5px;
}
.member-info p {
    font-weight: 500;
    margin-top: 0;
    display: flex;
    justify-content: center;
    width: 90%;
    font-size: 20px;
}

#member-button {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#member-button button {
    padding: 12px 45px;
    border-radius: 20px;
    font-size: 24px;
}

#about {
    font-family: Montserrat;
}

#about-header {
    font-size: 40px;
    text-align: center;
    margin-bottom: 0;
}

#about-para{
    text-align: center;
    font-weight: 500;
    font-size: 24px;
}

#about-us {
    display: flex;
    align-items: top;
    justify-content: space-between;
    margin-top: 64px;
    column-gap: 50px;
}

#about-us p {
    margin-top: 0;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
}

#info-graph h1 {
    font-size: 35px;
    text-align: center;
    margin: 0;
    margin-top: 80px;
}

#info-graph p {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin: 0;
    margin-top: 20px;
}

#info-graph {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 100px;
}

.line {
    width: 120px;
    height: 22px;
    border-radius: 10px;
    background-color: #0074de;
    text-align: center;
}

#service-header {
    font-family: Montserrat;
    font-size: 30px;
    text-align: center;
}

#service-form {
    display: flex;
    justify-content: space-between;
}

.form-detail {
    display: flex;
    flex-direction: column;
    box-shadow: 7px 8px 4px rgba(0, 0, 0, 0.20);
    margin-right: 50px;
    justify-content: center;
    border-radius: 30px;
}

.form-detail img {
    width: 90%;
    margin-top: 30px;
}

.form-detail h3 {
    font-family: Montserrat;
    text-align: center;
    font-size: 30px;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 0;
}

.form-detail p {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    width: 90%;
}

.price {
    margin-top: 128px;
}

.price h1 {
    font-family: Montserrat;
    text-align: center;
    color: #0074de;
    width: 90%;
}

.price h2 {
    font-family: Montserrat;
    text-align: center;
    width: 90%;
}

.Buy-btn {
    display: flex;
    justify-content: center;
    width: 90%;
    margin-top: 30px;
    margin-bottom: 50px;
}

.Buy-btn button {
    border: none;
    background-color: #0074de;
    color: white;
    padding: 12px 35px;
    border-radius: 15px;
    font-size: 30px;
    font-weight: 600;
}

footer {
    font-family: Montserrat;
    background-color: #0074de;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 100px 0 100px;
    margin-top: 300px;
    border-radius: 30px 30px 0 0;
}

#footer-header h1 {
    color: white;
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 5px;
}

#footer-header p {
    color: white;
    margin-top: 0;
    font-weight: 600;
    width: 75%;
}

#footer-icon img {
    width: 15%;
    margin-right: 30px;
}

#footer-icon img:hover {
    cursor: pointer;
}